<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.doit.ik.mapper.GongMapper">
	<!-- TOP -->
     <select id="getLcate" resultType="org.doit.ik.domain.MainTicVO">
      SELECT lcate_code, lcate_name
      FROM l_category
     </select>

     <select id="selectGong" resultType="org.doit.ik.domain.GongVO">
                       SELECT * 
					   FROM( 
					           SELECT ROWNUM no, t.* 
					          FROM( 
					                 SELECT to_number(REPLACE(noti_num, 'noti_', '')) AS order_num, noti_num, noti_date, noti_title, noti_cont  
					                  FROM notice 
					                  ORDER BY noti_date DESC 
					               ) t 
					        ) m 
					    WHERE m.no BETWEEN #{currentPage} AND #{numberPerPage} 
     </select>
     
     
    <select id="view" resultType="org.doit.ik.domain.GongVO">
    SELECT noti_num, noti_date, noti_title, noti_cont
    FROM notice
    WHERE regexp_like(noti_num, #{noti_num}, 'i')
    </select>

<select id="getTotal" resultType="int">
                     SELECT COUNT(*) 
				   FROM notice 
     </select>
</mapper>